@model Cart

@{
    var gesamtPreis = @Model.Products.Sum(p => p.Price);
    var budget = @Model.Budget ?? 0;
    var budgetUebrig = budget - @Model.Products.Sum(p => p.Price);//@Model.Veranstaltungen?.Budget - @Model.Products.Sum(p => p.Price);
}


<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Einkaufswagen</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>

        </div>

        @if (Model.Products.Count > 0)
        {
            
           
            <div class="form-floating py-2 col-12">
                
                <form asp-action="BudgetBerechnen">
                    <select asp-for="VeranstaltungId" name="VeranstaltungId" asp-items="Model.VeranstaltungenListItems" class="form-select" onchange="document.getElementById('btnSubmit').click();">
                        <option disabled selected>Veranstaltung Auswahl</option>
                    </select>
                    <input id="btnSubmit" hidden type="submit" value="submit" />
                </form>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Name,</th>
                        <th>Preis €</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Price €</td>
                            <td>
                                <a asp-controller="Product" asp-action="DeleteFromCart" asp-route-id="@product.Id" class="btn btn-danger ">
                                    <i class="bi bi-trash-fill"></i> Löschen
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>Gesamtsumme: @Model.Products.Sum(p => p.Price) €</p>
            @if (Model.Budget != null && budgetUebrig < 0)
            {
                <p class="text-danger">Achtung! Budget überschritten!!</p>
            }
            else if (Model.Budget != null)
            {
                <p>Budget übrig: @budgetUebrig €</p>
            }

        }
        else
        {
            <p>Der Einkaufswagen ist leer.</p>
        }

    </div>
</div>




