@using Organisationstool.Utility;
@model List< Veranstaltungen>


    <!DOCTYPE html>
    <html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />




        <style>
            .buchen {
                background-color: cornflowerblue;
                color: aliceblue;
                border: none;
                height: 35px;
                width: 100px;
                border-radius: 5px;
                margin-left: 25px;
                font-size: 15px;
                font-weight: bold;
            }

                .buchen:hover {
                    background-color: burlywood;
                }


            h1 {
                font-size: 35px;
                font-weight: 300;
                text-align:center;
            }

            .image {
                width: 200px;
                display: inline-block;
                margin-right: 50px;
                margin-bottom: 15px;
            }


            .Überschrift{
                text-align: center;
            }

        </style>
    </head>


    <body>

        <h1>

           Tageshighlights

        </h1>
           

        <p class="Überschrift">
            In Berlin ist immer etwas los. Damit ihr den Überblick über die zahlreichenden Veranstaltungen behaltet, stellen
            wir euch hier die Tagshighlights zusammen. Die spannendsten Events, die besten Konzerte und die interessantesten
            Ausstellungen - wir sagen euch, was los in der Stadt ist. Denn Berlin ist vieles aber nie langweilig.
        </p>

        @foreach (var obj in Model.OrderBy(u => u.Id))
        {
            <div class="image">
                <img src="@Url.Content("~/Uploads/"+@obj.Bild)" width="170" height="130" />
                <p>@obj.NamederVeranstaltung<br> @obj.Adresse<br> @obj.Datum <br> @obj.Bemerkung </p>
            @if (User.IsInRole(SD.Role_Admin) )
                {
                <div class="row">
                    <div class="col-6 text-end">
                        <a asp-controller="A_Veranstaltung" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-success ">
                            <i class="bi bi-pencil-square"></i> Bearbeiten
                        </a>
                    </div>

                    <div class="col-6 col-md-5">
                        <a asp-controller="A_Veranstaltung" asp-action="Deletehaupt" asp-route-id="@obj.Id" class="btn btn-danger ">
                            <i class="bi bi-trash-fill"></i> Löschen
                        </a>
                    </div>
                </div>
                }
            @if (User.IsInRole(SD.Role_Org))
            {
                <div class="row">
                    <div class="col-6 text-end">
                        <a asp-controller="O_Veranstaltung" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-success ">
                            <i class="bi bi-pencil-square"></i> Bearbeiten
                        </a>
                    </div>

                    <div class="col-6 col-md-5">
                        <a asp-controller="O_Veranstaltung" asp-action="Deletehaupt" asp-route-id="@obj.Id" class="btn btn-danger ">
                            <i class="bi bi-trash-fill"></i> Löschen
                        </a>
                    </div>
                </div>
            }

                @if (User.IsInRole(SD.Role_User) || User.IsInRole(SD.Role_Mitw))
                {
                    <a asp-controller="T_Buchen" asp-action="Index" asp-route-id="@obj.Id" class="btn buchen ">
                        <i class="bi bi-pencil-square"></i> Buchen
                    </a>
                }
            </div>
        }
 

    </body>
    </html>

