@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@model Veranstaltungen

<style>
    .buchung {
        width: unset;
    }

    .p-0{
       
        color:brown;
    }
</style>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Buchung</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>

        </div>

        <form method="post" action="/T_Buchen/AddBuchung/@Model.Id">
            <div class="border p-3 mt-4">
                
                <div class="mb-3 row p-1">
                    <label class="p-0">Name der Veranstaltung</label>
                    <span>@Model.NamederVeranstaltung</span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Adresse</label>
                    <span>@Model.Adresse</span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Datum</label>
                    <span>@Model.Datum</span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Bemerkung</label>
                    <span>@Model.Bemerkung</span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Name Teilnehmer</label>
                    <span>@Model.CurrentTeilnehmerName</span>
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Email Teilnehmer</label>
                    <span>@UserManager.GetUserName(User)</span>
                </div>
                <div class="mb-3 row p-1">
                    <img class="buchung" src="@Url.Content("~/Uploads/"+@Model.Bild)" width="170" height="130" />
                </div>

            </div>


            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Bestätigen</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border  form-control">
                        Zurück
                    </a>
                </div>



            </div>
        </form>

    </div>
</div>
@*<form method="post" action="/T_Buchen/AddBuchung/@Model.Id">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Buchung</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Name der Veranstaltung</label>
            <span>@Model.NamederVeranstaltung</span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Adresse</label>
            <span>@Model.Adresse</span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Datum</label>
            <span>@Model.Datum</span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Details</label>
            <span>@Model.Bemerkung</span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Name Teilnehmer</label>
            <span>@Model.CurrentTeilnehmerName</span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0">Email Teilnehmer</label>
            <span>@UserManager.GetUserName(User)</span>
        </div>
        <div class="mb-3 row p-1">
            <img class="buchung" src="@Url.Content("~/Uploads/"+@Model.Bild)" width="170" height="130" />
        </div>

    </div>


    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Bestätigen</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border  form-control">
                Zurück
            </a>
        </div>



    </div>
</form>*@